# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\cyime\OneDrive\Bureau\Projects\shopping-list\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/2a971f02-762c-432f-8345-348146e140f1.xml
/dataSources/2a971f02-762c-432f-8345-348146e140f1/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
